* {
  font-size: 20px;
}

h1 {
  font-weight: 200;
  font-size: 40px;
}

input {
  text-align: center;
  font-size: 12px;
}

#active-big-operator {
  font-size: 30px;
}

.formula-input {
  letter-spacing: 0.05em;
  font-size: 30px;
}